[submodule "server/lib/googletest"]
	path = server/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "server/lib/cryptopp"]
	path = server/lib/cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "server/lib/cereal"]
	path = server/lib/cereal
	url = https://github.com/USCiLab/cereal.git
